header {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #1a237e;
    font-weight: bold;
}

/* Estilos para o footer */
footer {
    position: absolute;
    bottom: 0;
    font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
    color: #1a237e;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

/* Estilos para a lista não ordenada */
ul {
    list-style-type: none; /* Remove os marcadores da lista */
    display: flex; /* Torna a lista um contêiner flexível */
    padding: 0; /* Remove o preenchimento padrão da lista */
    color: #1a237e;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

/* Estilos para cada caixa (li) */
li {
    box-sizing: border-box; /* Inclui bordas e preenchimentos no tamanho total */
    flex: 1; /* Faz com que as caixas ocupem todo o espaço disponível */
    margin: 5px; /* Adiciona uma margem entre as caixas */
    padding: 10px; /* Adiciona preenchimento interno */
    border: 2px solid #1a237e; /* Adiciona uma borda azul escuro */
    background-color: #c5cae9; /* Adiciona um fundo azul claro */
    text-align: center; /* Centraliza o texto dentro da caixa */
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #1a237e;
    font-weight: bold;
}

textarea {
    display: block;
    width: 70%; /* Ajuste conforme necessário */
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #1a237e; /* Cor azul escuro para a borda */
    background-color: #c5cae9; /* Cor azul claro para o fundo */
    resize: none; /* Impede o redimensionamento do textarea pelo usuário */
}

#reset-button {
    display: block;
    margin: 20px auto; /* Centraliza o botão horizontalmente com uma margem superior de 20 pixels */
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff; /* Cor branca para o texto */
    background-color: #1a237e; /* Cor azul escuro para o fundo */
    border: 2px solid #1a237e; /* Cor azul escuro para a borda */
    border-radius: 5px; /* Borda levemente arredondada */
    cursor: pointer; /* Indica que o cursor do mouse deve mudar ao passar sobre o botão */
    font-weight: bold;
}